body {
  background-color: #1e1e1e;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  margin-right: 8em;
}

.navbar a {
  float: left;
  color: #9e9e9e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #ffffff;
}

.logo {
  display: flex;
  font-size: 18px;
  margin-left: 8em;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo_text {
  font-weight: 600;
}

.logo_cursor {
  content: "";
  width: 8px;
  height: 23px;
  background: #026893;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
  vertical-align: middle;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.home {
  color: #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio {
  max-width: 40em;
  margin-bottom: 50px;
  font-size: 26px;
  line-height: 1.5;
  padding: 20px;
  text-align: left;
}

.cube {
  text-align: center;
}