body {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
  background-color: #1e1e1e;
  color: #dedede;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #121212;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 8em;
}

.navbar a {
  color: #9e9e9e;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #ffffff;
}

.logo {
  display: flex;
  font-size: 18px;
  align-items: center;
  padding: 10px;
  /* margin-left: 8em; */
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo_text {
  font-weight: 600;
}

.logo_cursor {
  content: "";
  width: 8px;
  height: 23px;
  background: #026893;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
  vertical-align: middle;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.home {
  padding-left: 5em;
}

.bio {
  width: 90vh;
  font-size: 26px;
  line-height: 1.5;
  padding: 20px;
  text-align: left;
}

.working,
.todo,
.options {
  width: 90vh;
  line-height: 1.5;
  padding: 20px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 21px;
}

.options {
  max-width: 600px;
  background-color: #2e2e2e;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.options form {
  display: flex;
  flex-direction: column;
  color: #dedede;
}

.options form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.options form input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 16px;
  background-color: #3a3a3a;
  color: #dedede;
}

.options form input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.options form input[type="submit"]:hover {
  background-color: #45a049;
}

.options form select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #3a3a3a;
  color: #ffffff;
  font-size: 16px;
  background: linear-gradient(to bottom, #3a3a3a 0%, #333 100%);
  cursor: pointer;
}

.options form select option {
  background-color: #333;
  /* Background color of options */
  color: #ffffff;
  /* Text color of options */
}

.options form select:focus {
  border-color: #666;
  /* Change border color on focus */
  outline: none;
  /* Remove default focus outline */
}

#option-output {
  background-color: #2e2e2e;
  border-radius: 4px;
  color: #ffffff;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group label {
  margin-right: 10px;
  width: 40%;
}

.form-group select {
  width: 55%;
}